<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book Management - Edit Book</title>
        <!-- Tambahkan link CSS Bootstrap -->
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5">Edit Book</h1>
            <form
                action="/books/<%= book.id %>?_method=PUT"
                method="post"
                enctype="multipart/form-data"
            >
                <div class="form-group">
                    <label for="name">Book Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        value="<%= book.name %>"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <input
                        type="text"
                        class="form-control"
                        id="author"
                        name="author"
                        value="<%= book.author %>"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input
                        type="number"
                        class="form-control"
                        id="price"
                        name="price"
                        value="<%= book.price %>"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input
                        type="file"
                        class="form-control-file"
                        id="image"
                        name="image"
                    />
                </div>
                <button type="submit" class="btn btn-primary">
                    Update Book
                </button>
            </form>
        </div>

        <!-- Tambahkan script JavaScript Bootstrap (opsional) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
